header{
    margin-top: -10px;
    width: 100%;
    height: 70px;
    display: flex;
    background-color: black;
    opacity: 0.9;
    z-index: 5;
    justify-content: space-between;
    position: fixed;
    margin-left: -10px;
    }
    .container{
        margin-right: 8px;
        /* margin-top: 200px; */
       
        width: 100%;
        color: black;
               
    }
    /* @media screenonly (min-width : 500px)and(max-width: 768px) {
        .container img{
            float: right;
            margin-right: 20px;
           }
        } */
   
    .banner_text1{
        color:black;         
        font-size: 20px;
        position:absolute;
        top: 40%;
        left: 20%;
        transform: translate(-50%, -50%);
     }
  .banner_text2{
        color:#62cb6b;         
        font-size: 50pt;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        animation-name: color;
        animation-duration: 5s;
        }
        @keyframes  color
        {
          from {color: red;}
          to {color: yellow;}
        }

nav a{
    text-decoration: none;        
    color: white;
    padding: 25px;
    display: inline-block;
     }
.footer 
     {

         margin-bottom: -10px;
         margin-right: -8px;
         margin-left: -10px;
         box-sizing:border-box;
         padding: 25px;
         height: 300px;
         color: #62cb6b;
         background-color: #000000;
         list-style: none;
     }
.footer li{
         color: white;
         margin-left: 20px;

     }
hr{
    width: 70em;
    color:#eeeeee;
}
input , textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 370px;
    font-size: medium;
    border-radius: 5px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    background-color:black;
    color: white;
    padding: 10px;
}
 button{
    align-content: center;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #62cb6b;    
    border: none;
    border-radius: 5px;
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: red;

}
@media(min-width : 500px)and(max-width: 768px) {
    .container img{
        float: left;
        margin-right: 20px;
       }
    header nav {
        display: none;
    }
	.banner_text1 {
       
		font-size: 20px;
    }
    .banner_text2 
    {        
		font-size: 30px;
    }
    .catalog {
        transform: translateY(3%);
        margin-top: 10px;
        
    }
    .catalog table tr td{
        display: none;
    }
    .house_sale_container hr h1{
        transform: translateY(90%);
    }
    hr{
        border-top:10px;
        width: 100%;
    }
    .footer{
        height: 550px;
    }
    .footer .contact{
        transform: translateY(100%);

    }
}

@media(min-width: 300px) and (max-width:600px){
  
    .login_container  {
        width: 300px;
        padding: 20px;
    } 
   hr{
        transform: translateY(160%);
        width: 150px;
    }
    .container img{
        float: left;
        margin-right: 20px;
       }
    header nav {
        display: none;
    }
	.banner_text1 {
       
		font-size: 20px;
    }
    .banner_text2 
    {        
		font-size: 30px;
    }
    .login_container{
       
        padding: 30px;
       border-radius: 60px;
    }
    .house_sale_container{
        margin-left: -50px;
    }
    
    .container .banner_text1 {
        transform: translateY(-130px);   
        margin-left: -60px;   
		font-size: 20px;
    }
   .container .banner_text2 
    {      
        transform: translateY(-150px);
        margin-left: -80px; 
		font-size: 30px;
        font-weight: bolder;
    }
    .footer{
        height: 550px;
        
    }
    .footer .contact{
        transform: translateY(100%);
           }
    .login_container{
        width: 60%;        
        margin-top: 50px;
    }
    
  }
  
 
